.header {
    margin: 0 auto;
    width: 1200px;
    height: 64px;
    background-color: #f4f7fc;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 20px;
}

.select {
    width: 48px;
    position: relative;
    label {
        position: absolute;
        left: -112px;
        top: 10px;
    }
}

.select.isActive .select_body {
    display: block;
}

.select__header {
    display: flex;
    border: 1px solid #ccc;
    width: 48px;
    margin: 0 auto;
    background-color: white;
    border-radius: 6px;
}
.select__current {
    background-color: white;
    margin: 0 auto;
    font-size: 14px;
    line-height: 24px;
    padding: 8px;
}
.select__icon {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    height: 40px;
    width: 40px;
    text-align: center;
}

.select_body {
    border: 1px solid #cccccc;
    border-top: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 100%;
}

.select__item {
    font-size: 14px;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    &:hover {
        background-color: #ebf0fa;
    }
}
