.header {
    margin: 0 auto;
    width: 1200px;
    height: 64px;
    background-color: #f4f7fc;
    &__nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 16px 20px;
    }
    &__select {
        display: flex;
        align-items: center;
        :hover {
            cursor: pointer;
        }
        p {
            margin-right: 10px;
        }
        select {
            border: none;
            background-color: #f4f7fc;
            :focus {
                border: none;
            }
        }
    }
}
